mat-form-field {
  width: 20rem;
}

::ng-deep {
  #btn-save {
    background-color: white;
    color: black;
  }
  #btn-save:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
  }
}
